<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Work Detail</h1>
    <h2>name: {{work.name}}</h2>
    <p>age : {{work.age}}</p>
    <p>birthday : {{work.birthday}}</p>
    <p>email : {{work.email}}</p>
    <a href="/work/">List</a>
    <!--<a href="/work/">List</a>-->
    <a href="/work/{{work.pk}}/edit/">Edit</a>
    <a href="/work/{{work.pk}}/delete/">Delete</a>
</body>
</html>