<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Post Edit</h1>
    <form action="/work/{{work.pk}}/update/" method="post">
        {% csrf_token %}
        <input type="text" name="name" value="{{work.name}}"/>
        <input type="text" name="age" value="{{work.age}}"/>
        <input type="text" name="birthday" value="{{work.birthday|date:'Y-m-d'}}"/>
        <input type="text" name="email" value="{{work.email}}"/>
        <input type="submit" value="Submit"/>
    </form>
</body>
</html>